html {
    font-size: 13px;
}

// colors
$colors:("primary":#db9e3f, "white":#fff, "light":#f9f9f9, "grey":#999, "dark":#222, "black":#333, );
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }
    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// text
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}

// font-size
$base-font-size:1rem;
// 10  12   13   14   16
$font-sizes:(xs:0.7692, sm:0.9231, md:1, lg:1.0769, xl:1.2308);
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}